<h1>About</h1>
<p>
The Best Beer Application is a test application, designed at the Digital Humanities Winter Institute 2013 using Ruby on Rails. It primarily serving as a testing ground for work in basic Ruby programming, HTML markup, and CSS.</p>
<p>The projects is designed to allow users to list and describe new beers, vote for or against them, and delete listed beers.</p>

