/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
background-color: #BA5B18;
}



body {
font-family: 'Josefin Sans', sans-serif;width: 75%;
margin: 0 auto;
background-color: #4AC3AB;
padding: 20px 40px;
border-radius: 25px;
border: 1px solid #ddd;

}



header {
padding: 20px 40px;
font-family: 'Josefin Sans', sans-serif;
background-color: #EDA107;
border-radius: 25px;
border: 1px solid #ddd;
}

header h1 {
font-size: 350%;
font-family: 'Josefin Sans', sans-serif;



}

nav li {
padding: 25px;
font-size: 175%;
list-style:none;
margin-left:0;
padding-left:0;
display: inline;

}

table {
width: 75%;

}

thead th {
font-size: 125%;
padding-bottom:10px;
text-align:left;
}

td {
font-size: 125%;
padding-bottom: 10px;
text-align:left;
}

a:link {
color:black;
}
a:visited {
color:#54472C
}
a:hover {
color:#54472C
}
a:focus {
color:#54472C
}
a:active {}



.field {
font-size: 125%;
padding-top:15px;

}

.actions input {
font-size: 125%;
padding-top:10px;
padding-bottom:15px;
}

.Back {
font-size: 125%;

}

.button_to {
font-size: 125%;
}

.link_to {
font-size: 300%;
}

footer li {
list-style:none;
display:inline;

}
